html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size:$m-size;
}

button {
  cursor:pointer;
}

button:disabled {
  cursor:default;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0;
}

svg {
	height:150px;
}

td:first-of-type, td:first-of-type > div {
	height:200px;
	width:250px;
}